body {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    padding: 2em;
}

h1 {
    text-align: center;
    color: rgb(255, 70, 70);
}

table {
    display: table;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.tabDesSpe td {
    padding: 0.5em 0.5em 1.5em 0.5em;
    text-align: left;
    vertical-align: top;
}

#caseGeniePhysique {
    color: blue;
}

.img_header {
    width: 100%;
}

.actuImgTxt {
    display: inline-grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-column-gap: 2em;
    text-align: justify;
}

.actu_img {
    width: 100%;
}

a:visited {
    color: blue;
}

a:active {
    color: red;
}

.lien_accueil {
    color: red;
}

.contactTab {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    table-layout: fixed;
}

.contactTab .contactLogo {
    height: 6em;
}

.text-rouge {
    color: red;
}

.text-bleu {
    color: rgb(0, 110, 255);
}

.text-vert {
    color: green;
}